//
//	TYPOGRAPHY
// ------------------------------------------------------

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

h1 {
	font-size: em(30);
	text-transform: uppercase;
}

h2 {
	font-size: em(24);
	font-weight: normal;
}

h3 {
	font-size: em(22);
}

a {
	text-decoration: none;
}
